<h3>Register</h3>
<form action="/register" method="POST">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Entr username" name="username">
    <label for="password"><b>password</b></label>
    <input type="password" placeholder="Enter password" name="password">

    <a href="/admin"><input type="submit" value="Register" class="btn"></a>
</form>